@import 'styles/theme.scss';

.line {
    flex-grow: 1;
    height: 1px;
    width: 35%;
    margin-top: 20px;
    border-top: 1px solid $black;
}
.left {
    flex-grow: 1;
    margin-right: 5%;
    align-content: flex-start;
}
.right {
    flex-grow: 1;
    margin-left: 5%;
    align-content: flex-end;
}
.separator {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
